<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gnjoroge.visionboard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CategoryListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gnjoroge.visionboard.ui.MainActivity"
                tools:replace="android:value"></meta-data>
        </activity>
        <activity android:name=".ui.CreatedCategory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gnjoroge.visionboard.ui.CategoryListActivity"></meta-data>
        </activity>
        <activity android:name=".ui.CategoryDetailActivity"></activity>
    </application>

</manifest>